<!DOCTYPE> 
<html>
<head>
    <title>Question types</title>
    <link rel="stylesheet" href="../static/cssIndex.css">
    <link rel="stylesheet" href="../static/cssQue.css">
</head>
<body>
    <header><b>Who Knows Me Better</b></header>
    <div class="sBody">
        <form method="POST" action="">
            {{ _form1.hidden_tag() }}
            {{ _form1.submitOwn(class="btn") }}
        </form>

        <form method="POST" action="">
            {{ _form2.hidden_tag() }}
            {{ _form2.submitReady(class="btn") }}
        </form>    
    </div>    
</body>
</html>