{% extends "layout.html" %}
        {% block content %}
            <title>Who Knows Me Better - Home | Create Quiz</title>
            <p class="intro">
                Make the quiz for your loving ones.<br>
            </p>
            <ul class="instruct">
                <li>
                    Enter your <b>Name</b> below and press on Create Quiz.
                </li>
                <li>
                    Select <b>Create your own questions</b> for quiz.<br><i><b>or</b></i><br> Select <b>Ready-made questions</b> for quiz.
                </li>
                <li>
                    Create or Choose <b>Questions</b>, there <b>Options</b> and there <b>Answers</b> wisely. 
                </li>
                <li>
                    After creating questions, options and answers, press <b>Share & Scoreboard</b> button to <b>Share</b> your quiz and see <b>Scoreboard</b> of your Quiz.
                </li>
            </ul>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                {{ form.userName(class="userName", placeholder="Enter Your Name") }} 
                {{ form.submit(class="btn") }}   
            </form>  
        {% endblock content%} 