<!DOCTYPE> 
<html>
<head>    
    <link rel="stylesheet" href="../static/cssIndex.css">
    <script data-ad-client="ca-pub-4239093541914999" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
    
    <header style="position: fixed; z-index: 1;">
        <div>
            <b>
                Who Knows Me Better
            </b>
        </div>
        {% if current_user.is_authenticated %}
            <div style=" margin-left: 78%; margin-top: 10%; margin-bottom: -17%;">
                <a style="background-color: maroon; text-decoration: none;padding: 8%; font-size: 55%; font-weight: bold; color: white;" href="{{ url_for('logout') }}">
                    Logout
                </a>
            </div>
        {% endif %}
    </header>
    
    <div class="sBody">
       
        {% block content %}  
        {% endblock content%}  
    </div>    
</body>
</html>