{% extends "layout.html" %}
{% block content %}
<title>Who Knows Me Better - Create your own questions</title>
<style>
    ul{
        list-style-type: none;
    }
    .container 
    {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-top: 60px;
        margin-left: 1%;
        padding-right: 12%;
        padding-top: 8%;
        font-size: 94%;
        height: 81%;
        border: 5px solid red;
        border-radius: 50px;
        z-index: 2;
    }
    input[type = radio] 
    {
        opacity: 0;
    }
    .checkmark
    {
        position: absolute;
        top: -5%;
        left: 0;
        height: 25px;
        width: 25px;
        border-radius: 0%;
        z-index: 2;
    }
    input:checked ~ .checkmark {
    background-color: #ff000054;
    width: 100%;
    height: 108%;
    border-radius: 50px;
    }
</style>
<h2 style="text-align: center; font-size: 450%; margin-left:-8%; margin-right:-8%; background-color: #8000003b;padding: 5%;">Create Your Own Questions, Options and select their respective answer for quiz</h2>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    {{ form.question(class="userName",
                     placeholder='Enter your question',
                     style='margin-left:0%;margin-top:20%;margin-bottom:35%;width:100%') }} 
    {{ form.option_1(class="userName",
                     placeholder='option 1',
                     style='margin-bottom:15%;') }}   
    {{ form.option_2(class="userName",
                     placeholder='option 2',
                     style='margin-bottom:15%;') }}
    {{ form.option_3(class="userName",
                     placeholder='option 3',
                     style='margin-bottom:15%;') }}
    {{ form.option_4(class="userName",
                     placeholder='option 4',
                     style='margin-bottom:15%;') }}
    
    <div class="userName" style="border:none;margin-top:15%;">
        <b>Select Your Answer :</b>
        {% for subField in form.answer %}
            <div class="container"> {{ subField }} {{subField.label}} <span class="checkmark"></span></div>
        {% endfor %}
    </div>
    <div style="margin-top: 100%;">
        {{ form.nxt(class="btn",style="margin-top:50%; padding: 5%;") }}
    </div>
    <div>
        {{ form.done(class="btn", style="padding: 5%;") }}
    </div>
</form>
{% endblock content %}