{% extends "layout.html" %}
{% block content %}
    <title>Who Knows Me Better - Type of Question</title>
    <style>
        .sBody
        {
            margin-top: 55%;
        }
        .btn
        {
            width:95%;
            margin-left:2.5%;
        }
    </style>
    <h2 style="text-align: center; font-size: 450%; margin-left:-8%; margin-right:-8%; background-color: #8000003b;padding: 5%;">Select Question type for your Quiz</h2>
    <form method="POST" action="">
        {{ form1.hidden_tag() }}
        {{ form1.submitOwn(class="btn") }}
    </form>

    <form method="POST" action="">
        {{ form2.hidden_tag() }}
        {{ form2.submitReady(class="btn") }}
    </form>
{% endblock content %}