{% extends "layout.html" %}

{% block content %}
	<title>Who Knows Me Better - Share Your Quiz</title>
	<h2 style="text-align: center; font-size: 450%; margin-left:-8%; margin-right:-8%; background-color: #8000003b;padding: 5%;">Share Your Quiz</h2>
	<ol style="font-size:300%">
		{% for qa in QAs %}
			<li><h1>{{ qa.questions }}</h1></li>
				<ol>
				<li><h2>{{ qa.option1 }}</h2></li>
				<li><h2>{{ qa.option2 }}</h2></li>
				<li><h2>{{ qa.option3 }}</h2></li>
				<li><h2>{{ qa.option4 }}</h2></li>
				<h2>Answer : {{ qa.answer }}</h2>
				</ol>
				<br>
		{% endfor %}
	</ol>
	<br>
	<a class="btn" style = "font-size: 200%; padding: 8%; margin-left: 5%; text-decoration: none;" href="https://who-knows-me-better.herokuapp.com/scoreBoard/{{ c_userID }}">Share and Scoreboard</a>
{% endblock content %}